<div class="login_grid">

  <div class="nav_bar">

  </div>

  <div class="s_logo_cont">
    <a href="/"><div class="s_logo">
      ikigai
    </div></a>
  </div>

  <div class="login_cont">

    <% if  flash[:notice].class == String %>
        <%=flash[:notice]%>
    <% end %>

      <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.email_field :email, placeholder: "email" %>

          <%= f.password_field :password, placeholder: "●●●●●●●" %>

          <button class="white_button">
            login &rarr;
          </button>
      <% end %>

    <p>New? <%= link_to "Sign up →", '../users/new' %></p>
  </div>

  <div class="footer_bar">
    <a href="">
      <span>About Ikigai</span>
    </a>

    <span>Footer Stuff &copy;</span>
  </div>

</div>
