<div class="login_grid">

  <div class="nav_bar">

    <% if flash[:notice] %>
        <% flash[:notice].each do |error| %>
            <%= error %>
        <% end %>
    <% end %>

  </div>

  <div class="s_logo_cont">
    <a href="/"><div class="s_logo">
      ikigai
    </div></a>
  </div>

  <div class="login_cont">
    <%= form_for(@user) do |f| %>

        <%= f.text_field :firstname, placeholder: "first name"  %>

        <%= f.text_field :lastname, placeholder: "last name"  %>

        <%= f.email_field :email, placeholder: "email"  %>

        <%= f.text_field :profile_url, placeholder: "profile image url" %>

        <%= f.password_field :password, placeholder: "●●●●●●●"  %>

        <%= f.password_field :password_confirmation, placeholder: "●●●●●●●"  %>

        <%= f.label "your skills:" %>
        <div class="category_selection"><% @categories.each do |c| %>
            <div><%= c.name%>
            <%= check_box_tag "skills[]",c.name%></div>
        <%end%>
        </div>

        <div class="submit_btn"><%= f.submit "submit →" %></div>

    <% end %>
  </div>

  <div class="footer_bar">
    <a href="">
      <span>About Ikigai</span>
    </a>

    <span>Footer Stuff &copy;</span>
  </div>

</div>
