
<p>welcome home <%= current_user.firstname%> <%= current_user.lastname%></p>
<img src="<%= current_user.profile_url%>" alt="">
<div><a href="/users/<%=current_user.id%>/edit">edit profile</a></div>

<p> -----requests you sent------</p>



<p>-------direct-------</p>
<% @sent_requests.each do |m|%>
  <%if m.mentor_id%>
      title: <%= m.title%>
      message: <%= m.request_message%>
      time: <%= m.created_at%>
      to: <%= User.find(m.mentor_id).firstname %>
      status: <%= m.request_status%>
      


    <%if m.request_status == 'accepted'%>
      <%= form_for m, method: :put do |f| %>
        <p>contact: <%=User.find(m.mentor_id).email%></p>
        <%=f.submit 'archived'%>
      <%end%> 
    <%else%>
      <%= form_for m, method: :delete do |f| %>
        <button>delete</button>
      <%end%>
    <%end%>
  <%end%>
<%end%>



<p>-------broadcasted-------</p>
<% @sent_requests.each do |m|%>
  <%if m.mentor_id ==nil%>
      <p>title <%= m.title%></p> 
      <p>category: <%= m.category %></p>
      <p>message: <%= m.request_message%></p>
      <p>time: <%= m.created_at%></p>
      <p>status: <%= m.request_status%></p>

      <%= form_for m, method: :delete do |f| %>
        <button>delete</button>
      <%end%>      
  <%end%>
<%end%>





<p>-----requests you received------</p>
<p>-------direct--------</p>
<% @received_requests.each do |m|%>
  <p>title <%= m.title%></p> 
  <p>category: <%= m.category %></p>
  <p>message: <%= m.request_message%></p>
  <p>time: <%= m.created_at%></p>

  <%= form_for m, method: :put do |f| %>
    <%=f.submit 'accepted'%>
    <%=f.submit 'declined'%>
  <%end%> 

<%end%>

<p>------broadcasted----------</p>
<% @mentor_categories.each do |c| %>
  <p>category:  <%=c%></p>
  <%@requests = Request.where(category: c).current%>
  <%@requests.each do |r|%>
    <%if r.user_id != current_user.id%>
      From: <%=r.title%>
      <%=r.user.firstname%>
      <%= form_for r, method: :put do |f| %>
        <%=f.submit 'accepted'%>
      <%end%> 
    <%end%>
  <%end%>
<%end%>
