<%# route: /users/:id %>
<div class="main_dashboard">
  <h1>MAIN DASHBOARD FOR <%=current_user.firstname%> <%=current_user.lastname%></h1>
  </br>

</div>

<div class="mentor_requests">
  <h1><%=current_user.firstname%> <%=current_user.lastname%> will you be my Mentor?</h1>
  </br>
  <h2> REQUESTS TO ACTION </h2>
  <table align="left">
    <tr>
      <th align="center">REQUEST_ID</th>
      <th align="center">STATUS</th>
      <th align="left">CATEGORY</th>
      <th align="left">TITLE</th>
      <th align="left">MESSAGE</th>
      <th align="center">ACTION</th>
    </tr>
    <tr>
      <td align="center"><%=current_user.requests[0].id%></td>
      <td><%=current_user.requests[0].request_status%></td>

      <td align="left"><%=current_user.requests[0].category%></td>

      <td align="left"><%=current_user.requests[0].title%></td>
      <td align="left"><%=current_user.requests[0].request_message%></td>
      <td> <button>ACCEPT REQUEST</button><button>DECLINE REQUEST</button></td>
    </tr>
    </table>

  <table>
      <tr>
        <th align="center">REQUEST_ID</th>
        <th align="center">STATUS</th>
        <th align="left">CATEGORY</th>
        <th align="left">TITLE</th>
        <th align="left">MESSAGE</th>
        <th align="center">ACTION</th>
      </tr>
      <tr>
        <td align="center"><%=current_user.requests[0].id%></td>
        <td><%=current_user.requests[0].request_status%></td>

        <td align="left"><%=current_user.requests[0].category%></td>

        <td align="left"><%=current_user.requests[0].title%></td>
        <td align="left"><%=current_user.requests[0].request_message%></td>
        <td> <button>ACCEPT REQUEST</button><button>DECLINE REQUEST</button></td>
      </tr>
    </table>
</div>

</br>
</br>
</br>


<div class="mentee_requests">
  <h1><%=current_user.firstname%> <%=current_user.lastname%> would like a Mentor:</h1>

  <table align="left">
    <tr>
      <th align="center">REQUEST_ID</th>
      <th align="center">STATUS</th>
      <th align="left">CATEGORY</th>
      <th align="left">TITLE</th>
      <th align="left">MESSAGE</th>
      <th align="center">ACTION</th>
    </tr>
    <tr>
      <td align="center"><%= current_user.requests[0].id %></td>
      <td><%= current_user.requests[0].request_status %></td>

      <td align="left"><%= current_user.requests[0].category %></td>
      <td align="left"><%= current_user.requests[0].title %></td>
      <td align><%= current_user.requests[0].request_message %></td>
      <td> 
        <button>EDIT REQUEST</button>
        <button>DELETE REQUEST</button>
        <button>Click to e-mail your Mentor</button>
      </td>
    </tr>
    </table>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
<div class="assigned_mentors">
  <h1> </h1>
  <h1>Assigned Mentors for: <%=current_user.firstname%> <%=current_user.lastname%></h1>

  <table align="left">
    <tr>
      <th align="center">REQUEST_ID</th>
      <th align="center">STATUS</th>
      <th align="left">CATEGORY</th>
      <th align="left">TITLE</th>
      <th align="left">MESSAGE</th>
      <th align="center">ACTION</th>
    </tr>
    <tr>
      <td align="center"><%=current_user.requests[0].id%></td>
      <td><%=current_user.requests[0].request_status%></td>

      <td align="left"><%=current_user.requests[0].category%></td>

      <td align="left"><%=current_user.requests[0].title%></td>
      <td align="left"><%=current_user.requests[0].request_message%></td>
      <td> <button>Click to e-mail you Mentor</button><button>Rate Your Experience: Click to Conclude Mentoring Relationship</button></td>
    </tr>
    </table>
</div>