<%if @mentor_id %>
    <p>Send a direct request to <%= @mentor.firstname%> <%=@mentor.lastname%></p>
   
<% else %>
    <h1>new request </h1> 
<%end%>

<% if flash[:notice] %>

    <%= flash[:notice] %>
<% end %>

<%= form_for(@request) do |f| %>
    
    <%if @mentor_id %>
        <input type="hidden" name="mentor_id" value="<%= @mentor_id%>">

    <%else%>
        <select name="category">
            <% @categories.each do |c| %>
                <option value="<%= c.name%>"><%= c.name%></option>
            <%end%>
        </select>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :message %>
    <%= f.text_area :request_message %><span>From: <%= current_user.firstname %> <%= current_user.lastname %></span>
    <br>
    <%= f.submit "send request"%>
<% end %>
