<%if @mentor_id %>
    <p>send request to <%= @mentor.firstname%></p>
<% else %>
    <h1>new request</h1> 
<%end%>

<%= form_for(@request) do |f| %>
    
    <%if @mentor_id %>
        <input type="hidden" name="mentor_id" value="<%= @mentor_id%>">

    <%else%>
        <select name="category">
            <% @categories.each do |c| %>
                <option value="<%= c.name%>"><%= c.name%></option>
            <%end%>
        </select>
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :message %>
    <%= f.text_area :request_message %>

    <%= f.submit "send request"%>
<% end %>
