<%# page to show to everyone before and after login %>

<!-- TO DO:
    Update nav bar on login
    Remove sign up button on login
 -->

<nav>
    <% if logged_in? %>
    <span class="current_user">Hi, <%= current_user.firstname %></span>

    <% if %>
      <i class="alert far fa-envelope"></i>
    <% end %>

    <a href="/users/<%= current_user.id %>">
      <span class="login">dashboard</span>
    </a>

    <a href="">
      <span class="login">logout</span>
    </a>

    <% else %>
    <a href="/sessions/new">
      <span class="login">login</span>
    </a>

    <% end %>
</nav>

<!-- main grid container -->
<div class="main">

  <div class="logo_container">
    <div class="logo">
      <h1>ikigai</h1>
    </div>
  </div>

  <div class="tagline">
    <span class="tag">Teach something,</span>

    <span class="tag">Learn something.</span>

    <span class="mission"><b>Ikigai (生き甲斐)</b> <br>(n.) lit. "<i>a reason for being</i>"; 'a reason to get up in the morning,' to enjoy the meaning of life - passion, purpose, something one lives for.</span>

    <div class="signup">
      <a href="/users/new">Sign up &rarr;</a>
    </div>
  </div>

</div>

<!-- EXPLORE SECTION -->
<div class="explore">
  <h2>Explore</h2>

  <div class="icon_cards">

    <% @categories.each do |category| %>

    <a href="/categories/<%= category.id %>">
    <div class="icon_card" style="background: url(<%= category.image_url %>); background-size: cover">
      <span><%= category.name %></span>
    </div>
    </a>

    <% end %>

  </div>
</div>

<!-- FOOTER -->
<footer>
  <a href="">
    <span>About Ikigai</span>
  </a>

  <span>Footer Stuff &copy;</span>
</footer>
