<h1><%= @category.name %> Mentors</h1>
<div>
    <% @skills.each do |skill| %>

    <div class= "user-profile">
        <h2><%= skill.user.firstname%><%= skill.user.lastname%> </h2>
        <p> user rating  </p>
        <%= image_tag skill.user.profile_url %>
        <p> Mentor Bio: </p>
        <p><%=skill.user.bio %></p>
    </div>
        <form action= "/requests/new/<%=skill.user.id%>" method="get">
            <button>Request Mentor</button>
        </form>
    <% end %>
</div>
