<div class="mentors_grid">

  <div class="nav_bar">
    <div></div>
    <div class="nav_controls">

      <% if logged_in? %>
      <span class="current_user">Hi, <%= current_user.firstname %></span>

      <% if logo? %>
        <i class="alert far fa-envelope"></i>
      <% end %>

      <a href="/users/<%= current_user.id %>">

        <span class="login">dashboard</span>
      </a>

      <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="logout">logout</button>
      </form>

      <% else %>
      <a href="/sessions/new">
        <span class="login">login</span>
      </a>

      <% end %>
    </div>
  </div>

  <div class="s_logo_cont">
    <a href="/"><div class="s_logo">
      ikigai
    </div></a>
  </div>

  <div class="category_title">
    <h1><%= @category.name %></h1>
  </div>

  <div class="mentors_list">

    <div>
        <% @skills.each do |skill| %>
        <%if skill.user != current_user%>

        <div class= "mentor_profile">


          <div class="mentor_name">
            <h2><%= skill.user.firstname%> <%= skill.user.lastname%></h2>

            <%= image_tag skill.user.profile_url %>
          </div>

          <div class="mentor_bio">
            <p><%=skill.user.bio %></p>

            <a href="/requests/new?id=<%= skill.user.id%>">
                <button>Request Mentor </button>
            </a>
          </div>

        </div>
        <%end%>

        <% end %>
    </div>

  </div>

  <div class="footer_bar">
    <a href="">
      <span>About Ikigai</span>
    </a>

    <span>Footer Stuff &copy;</span>
  </div>

</div>
